{% extends "base.html.twig" %}

{% block content %}


    <div class="row">
        
        	<div class="col-md-8 col-sm-12">
              <div class="notification notification--warning">
                <div class="notification__content">
                  <div class="notification__type">LET OP</div>
                  <h2 class="notification__title">Behoort u tot de doelgroep cruciale beroepen?</h2>
                  <span>Dan heeft u nog steeds recht op kinderopvang, u kunt <a href="#">hier</a> lezen hoe en aan wie u dit kan doorgeven.</span>
                </div>
              </div>

            <div class="content-background" >
            	<div class="content">
                    <h2>Proof of concept Centrale Corona Interface</h2>
                    <p>Deze applicatie dient als proof of concept voor het centraal verzamelen en decentraal verdelen van informatie door de overheid. Waarbij het uitgangspunt is dat er &eacute;&eacute;n loket is voor burgers om informatie door te geven in &eacute;&eacute;n voor de burger samenhangend formulier.<br /> <br /> Centrale en decentrale overheden kunnen deze informatie vervolgens verwerken, met andere woorden de verwerking en wie dat doet (Belastingdienst, Gemeente, RVO etc) is een overheids probleem waar de burger niet mee moeten lastig vallen.<br /> <br /> In verlengde daarvan kunnen we spelen met de gedachte om burgers via vertrouwde overheid omgevingen informatie ter beschikking van derden te stellen (rodekruis, voedselbanken en overige vrijwilligers organisaties) 
                    <br /> <br /> Waardes</p>
                    <ul>
                        <li>Vertrouwen (overheid beheerd gegevens, digi&rsquo;s, herkenbaarheid)</li>
                        <li>&Eacute;&eacute;n loket (waar vanuit meerdere diensten van gegevens kunnen worden voorzien)</li>
                        <li>Deelbaarheid (burger kan gegevens inzien en ontsluiten)</li>
                        <li>Opensource</li>
                        <li>Nieuwe technologie (alles aan de hand van gecontaineriseerde rest api&rsquo;s en microservices)</li>
                    </ul>
					<p>Dit alles kan worden gerealiseerd door een escalatie van de door gemeenten onder commonground gerealiseerde architectuur.</p>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->

        <div class="col-md-4  col-sm-12">
        
            {% if user is not empty%}                
            <div class="content-background">
                        
                <div class="content">
                    <h2>Uw gegevens</h2>  
    				<ul class="definition-list">
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							 Voornamen
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.naam.voornamen }}</p>
    						</div>
    					</li>
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Achternaam
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.naam.geslachtsnaam }}</p> 
    						</div>
    					</li>
                        {% if user.naam.voorvoegsel is not empty%}    
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Voorvoegsel
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.naam.voorvoegsel }}</p> 
    						</div>
    					</li>
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Leeftijd
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.leeftijd }}</p> 
    						</div>
    					</li>
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Geslacht
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.geslachtsaanduiding }}</p> 
    						</div>
    					</li>
    					{% endif %}
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Addres
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.verblijfplaats.straatnaam }} {{ user.verblijfplaats.huisnummer }}{{ user.verblijfplaats.huisletter }}{{ user.verblijfplaats.huisnummertoevoeging }}
    							<br>{{ user.verblijfplaats.postcode }} {{ user.verblijfplaats.woonplaatsnaam }}</p>
    						</div>
    					</li>
    				</ul>
                </div>
            </div>
                    
            <!-- Page Break -->
            <div style="height: 20px"></div>
            
            {% endif %}
                
            <div class="content-background background--donkerblauw" style="height: 306px;">         
                <div class="content">
                    <h2>Aanvraag doen</h2>
                    {% if user is not empty%}        
                    <ul class="list list--links list--chevrons">
                        <li>
                            <a href="{{  path('app_request_new', { 'requestType': 'https://vtc.dev.zaakonline.nl/request_types/90ad9841-bb57-44ee-beaa-b3e0a144626e' }) }}">Ondersteunings aanvraag ZZPers</a>
                        </li>
                        <!-- 
                        <li>
                            <a href="{{  path('app_request_new', { 'requestType': 'https://vtc.dev.zaakonline.nl/request_types/d78197df-af77-4b5e-bed0-054cba047550' }) }}">Aanvraag bijzondere bijstand</a>
                        </li>
                        <li>
                            <a href="{{  path('app_request_new', { 'requestType': 'https://vtc.dev.zaakonline.nl/request_types/64127a29-c452-4600-a9a0-b3f827b4d2e5' }) }}">Ik wil helpen</a>
                        </li>
                        <li>
                            <a href="{{  path('app_request_new', { 'requestType': 'https://vtc.dev.zaakonline.nl/request_types/2201ebbd-f2b0-4ece-88e0-18ba0d2949e0' }) }}">Ik heb hulp nodig</a>
                        </li> -->
                    </ul>
                    {% else %}                    
                    	U dient eerst in te loggen voordat u een aanvrag kan doen.
                    {% endif %}

                </div>
            </div>
            
            <!-- 
            <div class="content-background background--geel">
                <div class="content">
                    <button class="btn btn--primary">Primaire knop</button>
                </div>
            </div>
            
            
            <div class="content-background background--donkergeel">
                <div class="content">
                	<button class="btn btn--primary">Primaire knop</button>

                </div>
            </div>
            -->
        </div>
    </div>
	{#
<div class="row">
        <div class="col-md-12">
            <h2> Uitgelicht</h2>
            <ul class="list list--card">
                <li class="card">
                    <a href="{{  path('app_challenge_index') }}" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/id/1/200')"></div>
                        <div class="card__body">
                            <span class="card__title">Ik heb hulp nodig</span>
                            Heeft u behoefte aan hulp? Bijvoorbeeld omdat u geen eten meer in huis heeft, of ergens niet uit komt? <br><br> Lees hier hoe u aan hulp kan komen.
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{   path('app_pitch_index') }}" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/id/1/200')"></div>
                        <div class="card__body">
                        	<span class="card__title">Ik wil helpen</span>
                        	Wilt u hulp aanbieden aan uw buren of gemeenschap? Bijvoorbeeld omdat u beschikt over bepaalde vaardigheden of inventaris. <br><br>Lees hier hoe u dat kenbaar kan maken.
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{ path('app_news_index') }}" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/id/1/200')"></div>
                        <div class="card__body">
                        	<span class="card__title">Ik denk dat ik Corona heb</span>
                        	Vermoedt u dat u zelf besmet bent met het corona virus? <br><br><br>  Lees dan hier wat u moet doen
                        </div>
                    </a>
                </li>
            </ul>
        </div> <!-- /.col -->
    </div> <!-- /.col -->
    #}

{% endblock %}
