{% extends "base.html.twig" %}

{% block content %}

    <section class="row">
        <div class="col-md-12">
            <div class="content">
                <header class="content__header">
                    <a class="backlink" href="{{ path('app_default_index') }}">Home</a>
                    <header class="content__header">
                        <h1 class="content__header-title">{{ request.reference }}</h1>
                    </header>
                </header>
            </div><!-- ./content -->
        </div><!-- ./col -->
    </section>

    <div class="row">

        <div class="col-md-8  col-sm-12">

            <div class="content-background">
            	<div class="content">
                    <h2>Gegevens</h2>

                    <form class="form" method="post" action="#">

                        <h3>Aanvullende persoonlijke gegeven</h3>
                        <div class="input">
                            <label class="input__label" for="email">E-mailadres</label>
                            <input required="" type="email" id="email" name="email" class="input__control input__control--text">
                        </div>

                        <div class="input">
                            <label class="input__label" for="email">Telefoon nummer</label>
                            <input required="" type="phone" id="phone" name="phone" class="input__control input__control--text">
                        </div>

                       <div class="input">
                            <label class="input__label" for="color">leefvorm</label>
                            <select id="Leefvorm" name="leefvorm" class="input__control input__control--m input__control--select"  required="" >
                                <option value="alleenstaande">Alleenstaande</option>
                                <option value="samenwonend" >Samenwonend</option>
                            </select>
                        </div>

                        <h3>Financiële gegevens</h3>
                        <div class="input">
                            <label class="input__label" for="brin">IBAN-nummer</label>
                            <input type="text" id="brin" class="input__control input__control--m input__control--text" name="iban">
                        </div>

                        <div class="input">
                            <label class="input__label" for="email">Naam Rekening Houder</label>
                            <input disabled="" type="email" id="email" class="input__control input__control--text">
                        </div>

                        <h3>Gegevens van uw Onderneming</h3>
                        <div class="input">
                            <label class="input__label" for="brin">Kvk-nummer</label>
                            <input type="text" id="brin" name="kvk" class="input__control input__control--m input__control--text">
                            <button class="btn" name="submit" value="kvk">Gegevens ophalen</button>
                        </div>

                        <div class="input">
                            <label class="input__label" for="email">Naam onderneming</label>
                            <input disabled="" type="text" id="companyName" name="companyName" class="input__control input__control--text">
                        </div>

                        <div class="input">
                        	<label class="input__label">Adres gegevens onderneming</label>

                        	<div class="input__control-group">
                        		<div>
                                	<label class="input__hint" for="address_postal_code">postcode</label>
                                 	<input aria-label="Postcode" title="Postcode" disabled="" type="text" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" id="address_postal_code" class="input__control input__control--six-characters input__control--text" name="postalCode">
                             	</div>
                             	<div>
                              		<label class="input__hint" for="address_number">huisnummer</label>
                         			<input aria-label="Huisnummer" title="Huisnummer" disabled="" type="number" minlength="1" maxlength="5" id="address_number" class="input__control input__control--five-characters input__control--text" name="houseNumber">
                          		</div>
                                    <div>
                                        <span class="input__hint" for="address_number-addition">toevoeging</span>
                                        <input aria-label="Toevoeging" title="Toevoeging" disabled="" type="text" maxlength="5" id="address_number-addition" class="input__control input__control--five-characters input__control--text" name="houseNumberSuffix">
                                    </div>
                                </div>
                         </div>

                       <div class="input">
                            <label class="input__label" for="color">Branche onderneming (SBI code)</label>
                            <select id="Sbi" name="sbi" class="input__control input__control--m input__control--select" disabled="">
                            {% for code in sbi %}
                                <option value="{{ code.sbi }}">{{ code.omschrijving }}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <h3>Aanvragen</h3>

                        <fieldset class="input">
                            <legend class="input__legend">Welke regelingen wilt u aanvragen?</legend>
                            <div class="input__group input__group--checkbox">
                                <input name="choices[]" type="checkbox" id="chkbx1" class="input__control input__control--checkbox" value="0">
                                <label class="input__label input__label--checkbox" for="chkbx1">Eenmalige uitkering van 4000 euro</label>
                            </div>
                            <div class="input__group input__group--checkbox">
                                <input name="choices[]" type="checkbox" id="chkbx2" class="input__control input__control--checkbox" value="1">
                                <label class="input__label input__label--checkbox" for="chkbx2">Uitstel betaling belasting toegevoegde waarde</label>
                            </div>
                            <div class="input__group input__group--checkbox">
                                <input name="choices[]" type="checkbox" id="chkbx3" class="input__control input__control--checkbox" value="2">
                                <label class="input__label input__label--checkbox" for="chkbx3">Uitstel betaling inkomsten belasting</label>
                            </div>
                            <div class="input__group input__group--checkbox">
                                <input name="choices[]" type="checkbox" id="chkbx4" class="input__control input__control--checkbox" value="3">
                                <label class="input__label input__label--checkbox" for="chkbx4">Bijzondere bijstand</label>
                            </div>
                        </fieldset>

                        <h3>Toelichting</h3>
                        <div class="input">
                            <label class="input__label" for="textarea_voorbeeld">Waarom wilt u van de door uw aangegeven regelingen gebruik maken?</label>
                            <textarea id="textarea_voorbeeld" class="input__control input__control--m input__control--text" name="explanation"></textarea>
                        </div>

                        <div class="input">
                            <button type="submit" class="btn" name="submit" value="save">Opslaan</button>
                            <a class="btn " href="{{ path('app_request_sign') }}">Verder</a> &nbsp;&nbsp;of naar de <a href="{{ path('app_request_new') }}">vorige stap</a>
                        </div>
                    </form>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->

        <div class="col-md-4  col-sm-12">
            <div class="content-background">
                <div class="content">
                    <h2>Uw gegevens</h2>
    				<ul class="definition-list">
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							 Voornamen
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.naam.voornamen }}</p>
    						</div>
    					</li>
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Achternaam
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.naam.geslachtsnaam }}</p>
    						</div>
    					</li>
                        {% if user.naam.voorvoegsel is not empty%}
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Voorvoegsel
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.naam.voorvoegsel }}</p>
    						</div>
    					</li>
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Leeftijd
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.leeftijd }}</p>
    						</div>
    					</li>
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Geslacht
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.geslachtsaanduiding }}</p>
    						</div>
    					</li>
    					{% endif %}
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Addres
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.verblijfplaats.straatnaam }} {{ user.verblijfplaats.huisnummer }}{{ user.verblijfplaats.huisletter }}{{ user.verblijfplaats.huisnummertoevoeging }}
    							<br>{{ user.verblijfplaats.postcode }} {{ user.verblijfplaats.woonplaatsnaam }}</p>
    						</div>
    					</li>
    				</ul>
                </div>
            </div>

            <!-- Page Break -->
            <div style="height: 20px"></div>

            <div class="content-background">
                <div class="content">
                    <h2>Stappen</h2>
                 	<ul class="list list--timeline list--timeline-compact">
                		<li class="list__item">Instructie</li>
                		<li class="list__item list__item--active">Gegevens verzamelen</li>
                		<li class="list__item">Ondertekening</li>
                		<li class="list__item list__item--disabled" >In behandeling</li>
                		<li class="list__item list__item--disabled">Uitsluitsel</li>
                	</ul>
                </div>
            </div>

            <!--
            <div class="content-background background--geel">
                <div class="content">
                    <button class="btn btn--primary">Primaire knop</button>
                </div>
            </div>


            <div class="content-background background--donkergeel">
                <div class="content">
                	<button class="btn btn--primary">Primaire knop</button>

                </div>
            </div>
            -->
        </div>
    </div>
	{#
<div class="row">
        <div class="col-md-12">
            <h2> Uitgelicht</h2>
            <ul class="list list--card">
                <li class="card">
                    <a href="{{  path('app_challenge_index') }}" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/id/1/200')"></div>
                        <div class="card__body">
                            <span class="card__title">Ik heb hulp nodig</span>
                            Heeft u behoefte aan hulp? Bijvoorbeeld omdat u geen eten meer in huis heeft, of ergens niet uit komt? <br><br> Lees hier hoe u aan hulp kan komen.
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{   path('app_pitch_index') }}" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/id/1/200')"></div>
                        <div class="card__body">
                        	<span class="card__title">Ik wil helpen</span>
                        	Wilt u hulp aanbieden aan uw buren of gemeenschap? Bijvoorbeeld omdat u beschikt over bepaalde vaardigheden of inventaris. <br><br>Lees hier hoe u dat kenbaar kan maken.
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{ path('app_news_index') }}" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/id/1/200')"></div>
                        <div class="card__body">
                        	<span class="card__title">Ik denk dat ik Corona heb</span>
                        	Vermoedt u dat u zelf besmet bent met het corona virus? <br><br><br>  Lees dan hier wat u moet doen
                        </div>
                    </a>
                </li>
            </ul>
        </div> <!-- /.col -->
    </div> <!-- /.col -->
    #}

{% endblock %}
