{% extends "base.html.twig" %}

{% block content %}

    <section class="row">
        <div class="col-md-12">
            <div class="content">
                <header class="content__header">
                    <a class="backlink" href="{{ path('app_default_index') }}">Home</a>
                    <header class="content__header">
                        <h1 class="content__header-title">{{ request.reference }}</h1>
                    </header>
                </header>
            </div><!-- ./content -->
        </div><!-- ./col -->
    </section>

    <div class="row">
        
        <div class="col-md-8  col-sm-12">
            <div class="content-background" style="height: 170px;">
            	<div class="content">
                    <h2>Ondertekening</h2>
                    
                    <p> << overizcht opgegeven gegevens >> </p>
                    
                    
                    <a class="btn" href="{{ path('app_default_index') }}">Onderteken en dien in</a>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->

        <div class="col-md-4  col-sm-12">
            <div class="content-background">
                        
                <div class="content">
                    <h2>Uw gegevens</h2>                    
                    
                    {{ user.naam.geslachtsnaam }}, {{ user.naam.voornamen }} 
                </div>
            </div>
                    
            <!-- Page Break -->
            <div style="height: 20px"></div>
                
            <div class="content-background">                
                <div class="content">
                    <h2>Stappen</h2>
                 	<ul class="list list--timeline list--timeline-compact">
                		<li class="list__item ">Instructie</li>
                		<li class="list__item">Gegevens verzamelen</li>
                		<li class="list__item list__item--active">Ondertekening</li>
                		<li class="list__item list__item--disabled" >In behandeling</li>
                		<li class="list__item list__item--disabled">Uitsluitsel</li>
                	</ul>

                </div>
            </div>
            
            <!-- 
            <div class="content-background background--geel">
                <div class="content">
                    <button class="btn btn--primary">Primaire knop</button>
                </div>
            </div>
            
            
            <div class="content-background background--donkergeel">
                <div class="content">
                	<button class="btn btn--primary">Primaire knop</button>

                </div>
            </div>
            -->
        </div>
    </div>
	{#
<div class="row">
        <div class="col-md-12">
            <h2> Uitgelicht</h2>
            <ul class="list list--card">
                <li class="card">
                    <a href="{{  path('app_challenge_index') }}" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/id/1/200')"></div>
                        <div class="card__body">
                            <span class="card__title">Ik heb hulp nodig</span>
                            Heeft u behoefte aan hulp? Bijvoorbeeld omdat u geen eten meer in huis heeft, of ergens niet uit komt? <br><br> Lees hier hoe u aan hulp kan komen.
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{   path('app_pitch_index') }}" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/id/1/200')"></div>
                        <div class="card__body">
                        	<span class="card__title">Ik wil helpen</span>
                        	Wilt u hulp aanbieden aan uw buren of gemeenschap? Bijvoorbeeld omdat u beschikt over bepaalde vaardigheden of inventaris. <br><br>Lees hier hoe u dat kenbaar kan maken.
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{ path('app_news_index') }}" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/id/1/200')"></div>
                        <div class="card__body">
                        	<span class="card__title">Ik denk dat ik Corona heb</span>
                        	Vermoedt u dat u zelf besmet bent met het corona virus? <br><br><br>  Lees dan hier wat u moet doen
                        </div>
                    </a>
                </li>
            </ul>
        </div> <!-- /.col -->
    </div> <!-- /.col -->
    #}

{% endblock %}
