{% extends "base.html.twig" %}

{% block content %}

    <section class="row">
        <div class="col-md-12">
            <div class="content">
                <header class="content__header">
                    <a class="backlink" href="{{ path('app_default_index') }}">Home</a>
                    <header class="content__header">
                        <h1 class="content__header-title">{{ request.reference }}</h1>
                    </header>
                </header>
            </div><!-- ./content -->
        </div><!-- ./col -->
    </section>

    <div class="row">
        <div class="col-md-8  col-sm-12">
            <div class="content-background">
            	<div class="content">
                    <h2>Ondertekening</h2>
                    <h3>Uw gegevens:</h3>
                    <ul class="definition-list">
                        {% if request.properties.email is defined and request.properties.email is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    E-mail adres
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ request.properties.email }}</p>
                                </div>
                            </li>
                        {% endif %}
                        {% if request.properties.phone is defined and request.properties.phone is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Telefoonnummer
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ request.properties.phone }}</p>
                                </div>
                            </li>
                        {% endif %}
                        {% if request.properties.leefvorm is defined and request.properties.leefvorm is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Leefvorm
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ request.properties.leefvorm }}</p>
                                </div>
                            </li>
                        {% endif %}
                        {% if request.properties.iban is defined and request.properties.iban is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    IBAN
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ request.properties.iban }}</p>
                                </div>
                            </li>
                        {% endif %}
                    </ul>

                    <h3>Gegevens van uw bedrijf:</h3>
                    <ul class="definition-list">
                        {% if request.properties.kvk is defined and request.properties.kvk is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    KVK-nummer
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ request.properties.kvk }}</p>
                                </div>
                            </li>
                        {% endif %}
                        {% if request.properties.companyName is defined and request.properties.companyName is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    KVK-nummer
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ request.properties.companyName }}</p>
                                </div>
                            </li>
                        {% endif %}
                        {% if request.properties.postalCode is defined and request.properties.postalCode is not empty and request.properties.houseNumber is defined and request.properties.houseNumber is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Adres
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ request.properties.postalCode }} {{ request.properties.houseNumber }}{% if request.properties.houseNumberSuffix is defined and request.properties.houseNumber is not empty %}{{ houseNumberSuffix }}{% endif %}</p>
                                </div>
                            </li>
                        {% endif %}
                        {% if request.properties.sbi is defined and request.properties.sbi is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    SBI Code
                                </div>
                                <div class="definition-list__description">
                                    <p>{{ request.properties.sbi }}</p>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                    <h3>Aangevraagde ondersteuning</h3>
                    <ul class="definition-list">
                        {% if request.properties.choices is defined and request.properties.choices is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Aangevraagde maatregelen
                                </div>
                                <div class="definition-list__description">
                                    <ul>
                                    {% for choice in request.properties.choices %}
                                        <li>{{ choice }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endif %}
                        {% if request.properties.explanation is defined and request.properties.explanation is not empty %}
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__title">
                                    Toelichting
                                </div>
                                <div class="definition-list__description">
                                    {{ request.properties.explanation }}
                                </div>
                            </li>
                        {% endif %}

                    </ul>

                    <form class="form" method="post" action="#">
                        <div class="input">
                            <button type="submit" class="btn" name="submit" value="sign">Onderteken en indienen</button>
                        </div>
                    </form>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->

        <div class="col-md-4  col-sm-12">
            <div class="content-background">

                <div class="content">
                    <h2>Uw gegevens</h2>

    				<ul class="definition-list">
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							 Voornamen
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.naam.voornamen }}</p>
    						</div>
    					</li>
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Achternaam
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.naam.geslachtsnaam }}</p>
    						</div>
    					</li>
                        {% if user.naam.voorvoegsel is not empty%}
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Voorvoegsel
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.naam.voorvoegsel }}</p>
    						</div>
    					</li>
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Leeftijd
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.leeftijd }}</p>
    						</div>
    					</li>
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Geslacht
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.geslachtsaanduiding }}</p>
    						</div>
    					</li>
    					{% endif %}
    					<li class="definition-list__item definition-list__item--horizontal">
    						<div class="definition-list__title">
    							Addres
    						</div>
    						<div class="definition-list__description">
    							<p>{{ user.verblijfplaats.straatnaam }} {{ user.verblijfplaats.huisnummer }}{{ user.verblijfplaats.huisletter }}{{ user.verblijfplaats.huisnummertoevoeging }}
    							<br>{{ user.verblijfplaats.postcode }} {{ user.verblijfplaats.woonplaatsnaam }}</p>
    						</div>
    					</li>
    				</ul>
                </div>
            </div>

            <!-- Page Break -->
            <div style="height: 20px"></div>

            <div class="content-background">
                <div class="content">
                    <h2>Stappen</h2>
                 	<ul class="list list--timeline list--timeline-compact">
                		<li class="list__item">Instructie</li>
                		<li class="list__item">Gegevens verzamelen</li>
                		<li class="list__iteml ist__item--active">Ondertekening</li>
                		<li class="list__item" >In behandeling</li>
                		<li class="list__item list__item--disabled">Uitsluitsel</li>
                	</ul>

                </div>
            </div>

            <!--
            <div class="content-background background--geel">
                <div class="content">
                    <button class="btn btn--primary">Primaire knop</button>
                </div>
            </div>


            <div class="content-background background--donkergeel">
                <div class="content">
                	<button class="btn btn--primary">Primaire knop</button>

                </div>
            </div>
            -->
        </div>
    </div>
	{#
<div class="row">
        <div class="col-md-12">
            <h2> Uitgelicht</h2>
            <ul class="list list--card">
                <li class="card">
                    <a href="{{  path('app_challenge_index') }}" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/id/1/200')"></div>
                        <div class="card__body">
                            <span class="card__title">Ik heb hulp nodig</span>
                            Heeft u behoefte aan hulp? Bijvoorbeeld omdat u geen eten meer in huis heeft, of ergens niet uit komt? <br><br> Lees hier hoe u aan hulp kan komen.
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{   path('app_pitch_index') }}" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/id/1/200')"></div>
                        <div class="card__body">
                        	<span class="card__title">Ik wil helpen</span>
                        	Wilt u hulp aanbieden aan uw buren of gemeenschap? Bijvoorbeeld omdat u beschikt over bepaalde vaardigheden of inventaris. <br><br>Lees hier hoe u dat kenbaar kan maken.
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{ path('app_news_index') }}" class="card__content">
                        <div class="card__thumb" style="background-image: url('https://picsum.photos/id/1/200')"></div>
                        <div class="card__body">
                        	<span class="card__title">Ik denk dat ik Corona heb</span>
                        	Vermoedt u dat u zelf besmet bent met het corona virus? <br><br><br>  Lees dan hier wat u moet doen
                        </div>
                    </a>
                </li>
            </ul>
        </div> <!-- /.col -->
    </div> <!-- /.col -->
    #}

{% endblock %}
